//all !importants are overriding 'semantic-ui-react'
.App-form {
  max-width: 730px !important;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;

  .field {

    label {
      visibility: hidden;
    }

    input {
      padding: 15px !important;
      border: 0 !important;
      box-shadow: $box-shadow-input-inset !important;
    }

    &:first-child {
      width: 35%;

      input {
        border-radius: $border-radius 0 0 $border-radius !important;
      }
    }

    &:nth-child(2) {
      width: 70%;

      input {
        border-radius: 0 $border-radius $border-radius 0 !important;
      }
    }
  }

  .form-button-save {
    border-radius: $border-radius;
    border: 0;
    box-shadow: $box-shadow-property-card;
    font-weight: $font-weight-normal;
    margin-left: 10px !important;
    margin-top: 22px !important;
    height: 48px;
    padding: 15px;
    width: 100px;
    background: #4A90E2;
    color: #ffffff;
    @include button($primary-btn-color, $white)
  }

  @media (max-width: $mq-mobile) {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .field {
      display: flex;
      align-items: center;
      margin: 0 !important;
      position: relative;

      label {
        position: absolute;
        width: 6ch;
        visibility: visible;
        color: $primary-text-color !important;
        text-align: left;
        margin: 0 !important;
        padding: 0 0 0 10px!important;
      }

      input {
        padding: 15px 15px 15px 44px !important;
        border-radius: $border-radius !important;
      }

      &.error {

        input {
          padding-top: 25px !important;
        }

        label {
          padding-top: 10px !important;
        }
      }

      .error {
        display: inline-block;
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
      }

      &:first-child {
        width: 100%;

        input {
          border-radius: $border-radius $border-radius 0 0 !important;
        }
      }

      &:nth-child(2) {
        width: 100%;

        input {
          border-radius: 0 0 $border-radius $border-radius !important;
        }
      }
    }
    .form-button-save {
      margin: 0!important;
      width: 100%;
      border-radius: 0 0 $border-radius $border-radius !important;
    }
  }
}
