//all !importants are overriding 'semantic-ui-react'
.App-form {
  max-width: $mq-tablet !important;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;

  .field {

    input {
      padding: 15px !important;
      border: 0 !important;
      box-shadow: $box-shadow-input-inset !important;
    }

    &:first-child {
      width: 30%;

      input {
        border-radius: $border-radius 0 0 $border-radius !important;
      }
    }

    &:nth-child(2) {
      width: 100%;

      input {
        border-radius: 0 $border-radius $border-radius 0 !important;
      }
    }
  }

  .form-button-save {
    border-radius: $border-radius;
    border: 0;
    box-shadow: $box-shadow-property-card;
    font-weight: $font-weight-normal;
    margin-left: 10px !important;
    margin-top: 22px !important;
    height: 48px;
    padding: 15px;
    width: 100px;
    background: #4A90E2;
    color: #ffffff;
    @include button($primary-btn-color, $white)
  }
}
