.App-listing-item-wrapper {
  display: inline-block;
  position: relative;
  box-shadow: $box-shadow-property-card;
  width: 48%;
  background: $property-card-background-color;
  @include rem(margin, 15px 0);
  cursor: pointer;
  @include rem(height, 125px);
  border-radius: $border-radius;
  text-align: left;
  @include rem(padding, 15px);
  transition: $transition-hover;

  &:hover,
  &:focus {
    box-shadow: $box-shadow-property-card-hover;
    @include rem(margin-top, 10px);
    @include show-font-awesome();
  }

  .listing-item-name {
    @include rem(margin, 15px 10px 10px 10px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .listing-item-url {
    @include rem(margin, 0 10px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:focus {
      @include show-font-awesome();
    }
  }

  .fa {
    color: $white;
    visibility: hidden;

    //show buttons when device is most likely to be touchscreen
    @media (max-width: $mq-tablet) {
      font-size: $font-lg;
      color: $primary-btn-color;
      visibility: visible;
    }

    &:focus {
      @include show-font-awesome();
    }
  }

  @media (max-width: $mq-tablet) {
    width: 100%;
    @include rem(margin, 15px 0);
  }
}

.font-awesome {
  position: absolute;
  @include rem(padding, 15px);

  &.edit-listing {
    top: 0px;
    @include rem(right, 40px);

    &:focus {
      outline: 0;
    }
  }

  &.delete-listing {
    top: 0px;
    right: 0px;
  }

  &:focus {

    .fa {
      visibility: visible !important;
      @include text-link($primary-btn-color, $font-lg);
      @include font-awesome-close-up($font-lg);
    }
  }
}