.ui.cards {
  max-width: $mq-tablet;
  margin: 0 auto !important;
}

.App-listing-item-wrapper {
  display: inline-block;
  position: relative;
  box-shadow: $box-shadow-property-card;
  width: 350px;
  background: $property-card-background-color;
  margin: 15px;
  cursor: pointer;
  height: 135px;
  border-radius: $border-radius;
  text-align: left;
  padding: 15px;
  transition: $transition-hover;

  &:hover,
  &:focus,
  &:active {
    box-shadow: $box-shadow-property-card-hover;
    margin-top: 10px;

    .fa {
      visibility: visible;
      @include text-link($primary-btn-color, 20px);
    }
  }

  .listing-item-name {
    margin: 22px 10px 22px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .listing-item-url {
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .fa {
    color: $white;
    visibility: hidden;
  }

  .font-awesome {
    position: absolute;
    padding: 15px;

    &.edit-listing {
      top: 0px;
      right: 40px;
    }

    &.delete-listing {
      top: 0px;
      right: 0px;
    }
  }

  @media (max-width: $mq-tablet) {
    width: 100%;
    margin: 15px 0;
  }
}
