.App-form {
  position: relative;
  max-width: $mq-tablet;
  margin: auto;
  display: flex;
  justify-content: space-between;
  @include rem(padding-bottom, 50px);

  .cancel-edit {
    position: absolute;
    z-index: 10;
    @include rem(right, 104px);
    color: $error-color;
    @include rem(padding, 12px 25px);
    border-left: 1px solid;
  }

  .field {

    label {
      position: absolute;
      visibility: hidden;
    }

    input {
      width: 100%;
      @include rem(padding, 15px);
      border: 0;
      box-shadow: $box-shadow-input-inset;
    }

    .error {
      @include rem(font-size, $font-sm);
    }

    &:first-child {
      width: 35%;

      input {
        border-radius: $border-radius 0 0 $border-radius;
      }
    }

    &:nth-child(2) {
      width: 70%;

      input {
        border-radius: 0 $border-radius $border-radius 0;
      }
    }
  }

  .form-button-save {
    border-radius: $border-radius;
    border: 0;
    box-shadow: $box-shadow-property-card;
    font-weight: $font-weight-normal;
    @include rem(margin-left, 10px);
    @include rem(height, 45px);
    @include rem(padding, 15px);
    width: 100px;
    background: #4A90E2;
    color: #ffffff;
    @include button($primary-btn-color, $white)

    &.disabled {
      cursor: not-allowed;
    }
  }

  @media (max-width: $mq-mobile) {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    @include rem(margin-bottom, 20px);

    .field {
      display: flex;
      align-items: center;
      margin: 0;
      position: relative;

      label {
        width: 6ch;
        visibility: visible;
        color: $text-light-gray;
        text-align: left;
        margin: 0;
        @include rem(padding, 0 0 0 10px);
      }

      input {
        @include rem(padding-left, 55px);
        border-radius: $border-radius;

        &::-webkit-input-placeholder { /* WebKit browsers */
          color: $white;
        }
      }

      &.error {

        input {
          @include rem(padding-top, 25px);
        }

        label {
          @include rem(padding-top, 10px);
        }
      }

      .error {
        display: inline-block;
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
      }

      &:first-child {
        width: 100%;

        input {
          border-radius: $border-radius $border-radius 0 0;
        }
      }

      &:nth-child(2) {
        width: 100%;

        input {
          border-radius: 0;
          border-bottom: 1px solid $border-gray;
          @include rem(margin-bottom, 1px);
        }
      }
    }
    .form-button-save {
      margin: 0;
      width: 100%;
      border-radius: 0 0 $border-radius $border-radius;
    }
  }
}
