.nav-placeholder {
  @include rem(height, 100px);
}

.ui.two.item.menu {
  display: flex;
  box-shadow: $box-shadow-property-card;
  @include rem(margin, 0 -15px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  .item {
    color: $primary-text-color;
    width: 50%;
    @include rem(padding, 15px);
    @include button($site-background-color, $black);

    &.active {
      @include button($white, $black);
    }

    &:first-child {
      border-right: 1px solid $border-gray;
    }
  }
}
