$black: #000000;
$white: #ffffff;
$site-background-color: #F1F1F1;
$primary-text-color: #3c3939;
$property-card-background-color: $white;
$primary-btn-color: #4A90E2;
$primary-light-gray: #d3d3d3;
$border-gray: $primary-light-gray;
