////----------------------------------------------------------////
////--------------------| *** fonts *** |--------------------////
////--------------------------------------------------------////

////***------------------ font styles ------------------**////
$font_1: "Open Sans";
$font_2: "Arial";
$font_3: "Helvetica";
$sans-serif: "sans-serif";
$font-awesome: FontAwesome;

$family-font: $font_1, $font-2, $font-3, $sans-serif;

$lighter: 300 !important;
$bold: 600 !important;
$font-weight-normal: 400 !important;

////***------------------ font sizes ------------------**////
$font-xsm: 10px; //~1rem
$font-sm: 12px; //~1.2rem
$font-base: 14px; //~1.4rem
$font-md: 16px; //~1.6rem
$font-lg: 18px; //~1.8rem
$font-xlg: 22px; //~2.2rem

$font-h1: 48px; //~4.8rem
$font-h2: 36px; //~3.6rem
$font-h3: 24px; //~2.4rem
$font-h4: $font-lg; //~1.8rem
$font-h5: $font-md; //~1.6rem
$font-h6: $font-base; //~1.4rem
