$box-shadow-property-card: 0px 1px 2px 0px rgba(0,0,0,.21);
$box-shadow-property-card-hover: 0px 7px 25px 4px rgba(0, 0, 0, 0.21);
$box-shadow-modal: 0px 1px 45px 0px rgba(0, 0, 0, 0.5);
$border-radius: 5px;
$box-shadow-input-inset: -1px -1px 1px 0px rgba(0, 0, 0, 0.207843);
$transition-hover: all 0.3s ease;
