//app container
.App {
  text-align: center;
  @include rem(padding, 0 15px 30px);
}

.App-header {
  @include rem(padding, 30px 0 50px);
}

//listing card container
.ui.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: $mq-tablet;
  margin: auto;
}

//listing form container
.form-container {

  h1.form-header {
    margin: 50px;
    font-size: $font-h1;

    @media (max-width: $mq-mobile) {
      @include rem(margin, 30px 0 20px);
      @include rem(font-size, $font-xlg);
    }
  }
}
